In [1]:
import pandas as pd

countries = ['Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda',
             'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
             'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
             'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia']

life_expectancy_values = [74.7,  75. ,  83.4,  57.6,  74.6,  75.4,  72.3,  81.5,  80.2,
                          70.3,  72.1,  76.4,  68.1,  75.2,  69.8,  79.4,  70.8,  62.7,
                          67.3,  70.6]

gdp_values = [ 1681.61390973,   2155.48523109,  21495.80508273,    562.98768478,
              13495.1274663 ,   9388.68852258,   1424.19056199,  24765.54890176,
              27036.48733192,   1945.63754911,  21721.61840978,  13373.21993972,
                483.97086804,   9783.98417323,   2253.46411147,  25034.66692293,
               3680.91642923,    366.04496652,   1175.92638695,   1132.21387981]

# Life expectancy and gdp data in 2007 for 20 countries
life_expectancy = pd.Series(life_expectancy_values)
gdp = pd.Series(gdp_values)

In [2]:
def variable_correlation(variable1, variable2):
    '''
    Fill in this function to calculate the number of data points for which
    the directions of variable1 and variable2 relative to the mean are the
    same, and the number of data points for which they are different.
    Direction here means whether each value is above or below its mean.
    
    You can classify cases where the value is equal to the mean for one or
    both variables however you like.
    
    Each argument will be a Pandas series.
    
    For example, if the inputs were pd.Series([1, 2, 3, 4]) and
    pd.Series([4, 5, 6, 7]), then the output would be (4, 0).
    This is because 1 and 4 are both below their means, 2 and 5 are both
    below, 3 and 6 are both above, and 4 and 7 are both above.
    
    On the other hand, if the inputs were pd.Series([1, 2, 3, 4]) and
    pd.Series([7, 6, 5, 4]), then the output would be (0, 4).
    This is because 1 is below its mean but 7 is above its mean, and
    so on.
    '''
    criteria_same_dir = ((variable1 > variable1.mean()) & (variable2 > variable2.mean())) | \
                    ((variable1 < variable1.mean()) & (variable2 < variable2.mean()))
    print(criteria_same_dir)
    
    criteria_diff_dir = ~criteria_same_dir
    print(criteria_diff_dir)
    
    print(variable1[criteria_same_dir].size)
    print(variable1[criteria_diff_dir].size)
    print(variable2[criteria_same_dir].size)
    print(variable2[criteria_diff_dir].size)

    num_same_direction = variable1[criteria_same_dir].size
    num_different_direction = variable1[criteria_diff_dir].size
    
    return (num_same_direction, num_different_direction)
    
variable_correlation(life_expectancy, gdp)

0     False
1     False
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10    False
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
dtype: bool
0      True
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
dtype: bool
17
3
17
3

(17, 3)

In [3]:
# should output (4, 0)
variable1 = pd.Series([1, 2, 3, 4])
variable2 = pd.Series([4, 5, 6, 7])
print(variable1.mean())
print(variable2.mean())
# should output (0, 4)
variable3 = pd.Series([1, 2, 3, 4])
variable4 = pd.Series([7, 6, 5, 4])
print(variable3.mean())
print(variable4.mean())

2.5
5.5
2.5
5.5

In [4]:
variable_correlation(variable1, variable2)

0    True
1    True
2    True
3    True
dtype: bool
0    False
1    False
2    False
3    False
dtype: bool
4
0
4
0

(4, 0)

In [5]:
variable_correlation(variable3, variable4)

0    False
1    False
2    False
3    False
dtype: bool
0    True
1    True
2    True
3    True
dtype: bool
0
4
0
4

(0, 4)

In [8]:
def variable_correlation_answer(variable1, variable2):
    both_above = ((variable1 > variable1.mean()) & (variable2 > variable2.mean()))
    both_below = ((variable1 < variable1.mean()) & (variable2 < variable2.mean()))
    is_same_direction = both_above | both_below
    num_same_direction = is_same_direction.sum()
    
    num_different_direction = len(variable1) - num_same_direction
    
    return (num_same_direction, num_different_direction)

In [9]:
variable_correlation_answer(life_expectancy, gdp)

(17, 3)

In [10]:
countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Angola',
    'Argentina', 'Armenia', 'Australia', 'Austria',
    'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
    'Barbados', 'Belarus', 'Belgium', 'Belize',
    'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
]


employment_values = [
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076,
]

# Employment data in 2007 for 20 countries
employment = pd.Series(employment_values, index=countries)

In [32]:
def max_employment(employment):
    '''
    Fill in this function to return the name of the country
    with the highest employment in the given employment
    data, and the employment in that country.
    '''
    max_country = ""  # Replace this with your code
    max_value = 0  # Replace this with your code


    for i, v in employment.iteritems():
        country = i
        country_employment = v
        if country_employment > max_value:
            max_value = country_employment
            max_country = country
    return (max_country, max_value)

max_country, max_value = max_employment(employment)
print(max_country, max_value)

0
1
2
Angola 75.69999695

In [55]:
def max_employment2(employment):
    print(employment.idxmax())
    print(employment[employment.values.argmax()])

In [56]:
max_employment2(employment)

Angola
75.69999695

In [58]:
def max_employment3(employment):
    max_country = employment.idxmax()
    max_value = employment[employment.values.argmax()]
    return (max_country, max_value)

In [59]:
mc, mv = max_employment3(employment)
print(mc, mv)

Angola 75.69999695